<mat-dialog-content class="whitespace-pre-wrap">{{
  "delete-device-layouts-confirm-dialog.description" | translate
}}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>
    {{ "general.cancel-action" | translate | realTitleCase }}
  </button>
  <button
    type="button"
    mat-button
    [color]="'warn'"
    [mat-dialog-close]="{ confirmed: true }"
  >
    {{ "general.delete-confirm-button" | translate }}
  </button>
</mat-dialog-actions>
