<p>
  {{ "information-page.description" | translate }}
</p>
<h2 class="pb-2 pt-5 text-xl">
  {{ "information-page.about-the-name.title" | translate | realTitleCase }}
</h2>
<p>
  {{ "information-page.about-the-name.description" | translate }}
</p>
<h2 class="pb-2 pt-8 text-xl">
  {{ "information-page.page-introductions-title" | translate | realTitleCase }}
</h2>
<h3 class="pb-2 text-lg font-bold text-formosa-300">
  <a [routerLink]="'/lesson/b'" class="flex items-center gap-1">
    <mat-icon>{{ "123" | iconGuard }}</mat-icon>
    {{
      "information-page.key-lesson-page.title" | translate | realTitleCase
    }}</a
  >
</h3>
<p class="pb-2">
  {{ "information-page.key-lesson-page.description.0" | translate }}
</p>
<p>
  {{ "information-page.key-lesson-page.description.1" | translate }}
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-formosa-300">
  <a class="flex items-center gap-1" [routerLink]="'/statistics'">
    <mat-icon>{{ "trending_up" | iconGuard }}</mat-icon>
    {{
      "information-page.statistics-page.title" | translate | realTitleCase
    }}</a
  >
</h3>
<p>
  {{ "information-page.statistics-page.description" | translate }}
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-formosa-300">
  <a class="flex items-center gap-1" [routerLink]="'/settings'">
    <mat-icon>{{ "settings" | iconGuard }}</mat-icon>
    {{ "information-page.settings-page.title" | translate | realTitleCase }}</a
  >
</h3>
<p>
  {{ "information-page.settings-page.description" | translate }}
</p>

<h2 class="pb-2 pt-8 text-xl">
  {{ "information-page.disclaimers.title" | translate | realTitleCase }}
</h2>
<ol class="list-inside list-decimal">
  <li>
    {{ "information-page.disclaimers.description.0.0" | translate
    }}<a
      class="underline"
      href="https://www.charachorder.com/"
      target="_blank"
      rel="noopener"
    >
      https://www.charachorder.com/</a
    >{{ "information-page.disclaimers.description.0.2" | translate }}
  </li>
  <li>
    {{ "information-page.disclaimers.description.1.0" | translate
    }}<a
      class="underline"
      href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API"
      target="_blank"
      rel="noopener"
      >{{ "information-page.disclaimers.description.1.1" | translate }}</a
    >{{ "information-page.disclaimers.description.1.2" | translate }}
    <a
      class="underline"
      href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"
      target="_blank"
      rel="noopener"
      >{{ "information-page.disclaimers.description.1.3" | translate }}</a
    >
    {{ "information-page.disclaimers.description.1.4" | translate }}
  </li>
</ol>
