<section class="flex-none items-center bg-gray-700 px-3">
  <span class="text-lg">{{
    "statistics-page.metric" | translate | realTitleCase
  }}</span>
  <mat-button-toggle-group class="ml-1" [(ngModel)]="currentMetric">
    <mat-button-toggle [value]="'CPM'">{{
      "general.character-entry-speed-unit" | translate
    }}</mat-button-toggle>
    <mat-button-toggle [value]="'Combo'">{{
      "general.combo-unit" | translate | realTitleCase
    }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>
@if (chartOptions(); as chartOptions) {
  <highcharts-chart
    [Highcharts]="Highcharts"
    [constructorType]="chartConstructor"
    [options]="chartOptions"
    [update]="updateFlag"
    class="block flex-1"
  ></highcharts-chart>
}
