<section class="space-y-4">
  <section class="space-y-2">
    <h4 class="text-lg">
      {{ "layout-highlight-setting.shift-layer" | translate | realTitleCase }}
    </h4>
    <ul>
      <li>
        {{
          "layout-highlight-setting.key-combination-sides-choice.0" | translate
        }}
        <app-sides-dropdown
          [value]="highlightSettingStore.shiftLayer().preferSides"
          (select)="setHighlightSetting('shiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown>
        {{
          "layout-highlight-setting.key-combination-sides-choice.2" | translate
        }}
      </li>
      <li>
        {{ "layout-highlight-setting.shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="highlightSettingStore.shiftLayer().preferShiftSide"
          (select)="
            setHighlightSetting('shiftLayer', 'preferShiftSide', $event)
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.num-shift-layer" | translate | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{
          "layout-highlight-setting.key-combination-sides-choice.0" | translate
        }}
        <app-sides-dropdown
          [value]="highlightSettingStore.numShiftLayer().preferSides"
          (select)="setHighlightSetting('numShiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown>
        {{
          "layout-highlight-setting.key-combination-sides-choice.2" | translate
        }}
      </li>
      <li>
        {{ "layout-highlight-setting.num-shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="highlightSettingStore.numShiftLayer().preferNumShiftSide"
          (select)="
            setHighlightSetting('numShiftLayer', 'preferNumShiftSide', $event)
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.num-shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.shift-num-shift-layer"
          | translate
          | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{ "layout-highlight-setting.character-key-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndNumShiftLayer().preferCharacterKeySide
          "
          (select)="
            setHighlightSetting(
              'shiftAndNumShiftLayer',
              'preferCharacterKeySide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.character-key-side-choice.2" | translate }}
      </li>
      <li>
        {{ "layout-highlight-setting.shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndNumShiftLayer().preferShiftSide
          "
          (select)="
            setHighlightSetting(
              'shiftAndNumShiftLayer',
              'preferShiftSide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.fn-shift-layer" | translate | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{
          "layout-highlight-setting.key-combination-sides-choice.0" | translate
        }}
        <app-sides-dropdown
          [value]="highlightSettingStore.fnShiftLayer().preferSides"
          (select)="setHighlightSetting('fnShiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown>
        {{
          "layout-highlight-setting.key-combination-sides-choice.2" | translate
        }}
      </li>
      <li>
        {{ "layout-highlight-setting.fn-shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="highlightSettingStore.fnShiftLayer().preferFnShiftSide"
          (select)="
            setHighlightSetting('fnShiftLayer', 'preferFnShiftSide', $event)
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.fn-shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.shift-fn-shift-layer"
          | translate
          | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{ "layout-highlight-setting.character-key-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndFnShiftLayer().preferCharacterKeySide
          "
          (select)="
            setHighlightSetting(
              'shiftAndFnShiftLayer',
              'preferCharacterKeySide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.character-key-side-choice.2" | translate }}
      </li>
      <li>
        {{ "layout-highlight-setting.shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="highlightSettingStore.shiftAndFnShiftLayer().preferShiftSide"
          (select)="
            setHighlightSetting(
              'shiftAndFnShiftLayer',
              'preferShiftSide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.flag-shift-layer" | translate | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{
          "layout-highlight-setting.key-combination-sides-choice.0" | translate
        }}
        <app-sides-dropdown
          [value]="highlightSettingStore.flagShiftLayer().preferSides"
          (select)="
            setHighlightSetting('flagShiftLayer', 'preferSides', $event)
          "
        ></app-sides-dropdown>
        {{
          "layout-highlight-setting.key-combination-sides-choice.2" | translate
        }}
      </li>
      <li>
        {{ "layout-highlight-setting.flag-shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="highlightSettingStore.flagShiftLayer().preferFlagShiftSide"
          (select)="
            setHighlightSetting('flagShiftLayer', 'preferFlagShiftSide', $event)
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.flag-shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">
      {{
        "layout-highlight-setting.shift-flag-shift-layer"
          | translate
          | realTitleCase
      }}
    </h4>
    <ul>
      <li>
        {{ "layout-highlight-setting.character-key-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndFlagShiftLayer()
              .preferCharacterKeySide
          "
          (select)="
            setHighlightSetting(
              'shiftAndFlagShiftLayer',
              'preferCharacterKeySide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.character-key-side-choice.2" | translate }}
      </li>
      <li>
        {{ "layout-highlight-setting.shift-side-choice.0" | translate }}
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndFlagShiftLayer().preferShiftSide
          "
          (select)="
            setHighlightSetting(
              'shiftAndFlagShiftLayer',
              'preferShiftSide',
              $event
            )
          "
        ></app-key-side-dropdown>
        {{ "layout-highlight-setting.shift-side-choice.2" | translate }}
      </li>
    </ul>
  </section>
</section>
