<h2 mat-dialog-title class="!text-xl">
  {{ "layout-song-help-dialog.title" | translate | realTitleCase }}
</h2>
<mat-dialog-content>
  <p>
    {{ "layout-song-help-dialog.summary" | translate }}
  </p>
  <br />
  <p>
    {{ "layout-song-help-dialog.tool-explanation" | translate }}
  </p>
  <br />
  <p>
    {{ "layout-song-help-dialog.license-explanation" | translate }}
  </p>
  <br />
  <p>
    {{ "layout-song-help-dialog.download-explanation.0" | translate
    }}<a
      class="underline"
      href="./assets/layout.mp3"
      download="layout-song.mp3"
      >{{ "layout-song-help-dialog.download-explanation.1" | translate }}</a
    >{{ "layout-song-help-dialog.download-explanation.2" | translate
    }}<a class="underline" href="./assets/layout-song-lyrics.txt" download>{{
      "layout-song-help-dialog.download-explanation.3" | translate
    }}</a
    >{{ "layout-song-help-dialog.download-explanation.4" | translate }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button [mat-dialog-close]="true">
    {{ "general.close-action" | translate | realTitleCase }}
  </button>
</mat-dialog-actions>
