<section class="flex h-12 flex-none items-center justify-center bg-gray-700">
  <input
    class="h-0 w-0 opacity-0"
    [attr.title]="'lesson-page.input-box-title' | translate"
    #input
    type="text"
    inputmode="none"
    (input)="onInput($any($event))"
    (focus)="isFocus.set(true)"
    (blur)="isFocus.set(false); pauseLesson()"
  />
  @if (isFocus()) {
    <span class="whitespace-pre font-mono text-2xl text-gray-300">{{
      lessonStore.history().join(" ")
    }}</span>
    <span class="whitespace-pre font-mono text-2xl text-formosa-300"
      >{{ lessonStore.bufferText()
      }}<span
        class="animate-ping border-l border-solid border-formosa-300"
      ></span
    ></span>
    <span class="font-mono text-2xl">
      @for (character of lessonStore.queue(); track $index) {
        <span class="mr-1">{{ character }}</span>
      }
      <span class="text-gray-300">...</span>
    </span>
  } @else {
    <span>{{ lesson().name | translate }}</span>
  }
</section>
<div class="absolute right-0 top-0 h-12 content-center">
  @if (isFocus()) {
    <button mat-flat-button (click)="pauseLesson()">
      <mat-icon class="text-white">{{ "pause" | iconGuard }}</mat-icon>
      {{ "lesson-page.pause-action" | translate | realTitleCase }}
      <kbd class="small ml-1">esc</kbd>
    </button>
  } @else {
    <button mat-flat-button (click)="startLesson()">
      <mat-icon class="text-white">{{ "play_arrow" | iconGuard }}</mat-icon>
      {{ "lesson-page.start-action" | translate | realTitleCase }}
      <kbd class="small ml-1">space</kbd>
    </button>
  }
</div>
@if (!isFocus()) {
  <div class="absolute left-0 top-0 h-12 content-center">
    <a
      class="text-inherit"
      *ngrxLet="lesson().previousLessonUrl as previousLessonUrl"
      [attr.aria-label]="
        'lesson-page.previous-lesson-link.aria-label' | translate
      "
      [routerLink]="previousLessonUrl"
      [matTooltip]="'lesson-page.previous-lesson-link.tooltip' | translate"
      [matTooltipDisabled]="!previousLessonUrl"
    >
      <button type="button" mat-icon-button [disabled]="!previousLessonUrl">
        <mat-icon>{{ "chevron_left" | iconGuard }}</mat-icon>
      </button>
    </a>
    <a
      class="text-inherit"
      *ngrxLet="lesson().nextLessonUrl as nextLessonUrl"
      [attr.aria-label]="'lesson-page.next-lesson-link.aria-label' | translate"
      [routerLink]="nextLessonUrl"
      [matTooltip]="'lesson-page.next-lesson-link.tooltip' | translate"
      [matTooltipDisabled]="!nextLessonUrl"
    >
      <button type="button" mat-icon-button [disabled]="!nextLessonUrl">
        <mat-icon>{{ "chevron_right" | iconGuard }}</mat-icon>
      </button>
    </a>
  </div>
}
<app-layout
  class="block flex-1 overflow-hidden px-5 pb-5"
  [showThumb3Switch]="visibilitySettingStore.layoutThumb3Switch()"
  [keyLabelMap]="keyLabelMap()"
  [highlightKeyCombination]="isFocus() ? highlightKeyCombination() : null"
></app-layout>
<app-speedometer
  *appVisible="'speedometer'"
  class="absolute bottom-4 right-4 h-24 w-24 opacity-50"
  [class.opacity-50]="isFocus()"
  [speed]="lessonStore.cpm()"
  [maxSpeed]="200"
  [speedUnit]="'general.character-entry-speed-unit' | translate"
></app-speedometer>
