<mat-sidenav-container class="h-full" autosize>
  <mat-sidenav
    #drawer
    class="!w-[240px] !bg-gray-450"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [disableClose]="!(isHandset$ | async)"
    data-style-dense
  >
    <header class="sticky top-0 z-10 bg-gray-450 shadow">
      <div class="grid w-full grid-cols-2">
        @for (navLink of navLinks; track $index) {
          <a
            class="w-full"
            [routerLink]="navLink.routerLink"
            routerLinkActive
            [routerLinkActiveOptions]="navLink.routerLinkActiveOptions"
            #rla="routerLinkActive"
            [attr.aria-label]="navLink.ariaLabel | translate"
            [matTooltip]="navLink.tooltipMessage | translate"
            (click)="onNavLinkClick()"
          >
            <button
              type="button"
              mat-flat-button
              class="w-full whitespace-nowrap"
              [color]="rla.isActive ? 'primary' : null"
            >
              <mat-icon>{{ navLink.icon | iconGuard }}</mat-icon>
              {{ navLink.title | translate | realTitleCase }}
            </button>
          </a>
        }
        <a class="w-full">
          <button
            class="w-full whitespace-nowrap"
            type="button"
            mat-flat-button
            [attr.aria-label]="'nav.hotkey.aria-label' | translate"
            (click)="openHotkeyDialog()"
            [matTooltip]="'nav.hotkey.tooltip' | translate"
          >
            <mat-icon>{{ "keyboard" | iconGuard }}</mat-icon>
            {{ "nav.hotkey.title" | translate | realTitleCase }}
          </button></a
        >
      </div>
    </header>
    <mat-nav-list class="!p-0">
      <div class="grid grid-cols-4">
        @for (lesson of lessonTableCells; track $index) {
          @if (lesson) {
            <a
              mat-list-item
              class="!justify-start"
              routerLink="/lesson/{{ lesson.id }}"
              routerLinkActive="list-item-active"
              (click)="onNavLinkClick()"
              >{{ lesson.name | translate }}</a
            >
          } @else {
            <span></span>
          }
        }
      </div>
      @for (lesson of otherLessons; track lesson.id) {
        <a
          mat-list-item
          routerLink="/lesson/{{ lesson.id }}"
          routerLinkActive="list-item-active"
          (click)="onNavLinkClick()"
          >{{ lesson.name | translate }}</a
        >
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (!drawer.opened) {
      <button
        type="button"
        class="!fixed left-1 top-1/2 !z-10 -translate-y-1/2 cursor-pointer opacity-80 hover:text-formosa-500"
        [attr.aria-label]="'nav.side-menu-toggle.aria-label' | translate"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon
          [attr.aria-label]="'nav.side-menu-toggle.icon-aria-label' | translate"
          >{{ "left_panel_open" | iconGuard }}</mat-icon
        >
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
