<h2 class="mb-3 text-2xl">
  {{ "settings-page.title" | translate | realTitleCase }}
</h2>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="!text-xl">{{
      "settings-page.panel-header.layout" | translate | realTitleCase
    }}</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-layout-setting-panel-content></app-layout-setting-panel-content>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl">{{
      "settings-page.panel-header.visibility" | translate | realTitleCase
    }}</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-visibility-setting-panel-content></app-visibility-setting-panel-content>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl">{{
      "settings-page.panel-header.misc" | translate | realTitleCase
    }}</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-misc-setting-panel-content></app-misc-setting-panel-content>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl">{{
      "settings-page.panel-header.ui-language" | translate | realTitleCase
    }}</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div>
        <mat-button-toggle-group
          class="opacity-80"
          [ngModel]="languageSettingStore.uiLanguage()"
          (ngModelChange)="setLanguage($event)"
          [hideSingleSelectionIndicator]="true"
        >
          @for (language of supportedLanguages; track language.id) {
            <mat-button-toggle [value]="language.id">
              {{ language.name }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
