// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import '../node_modules/font-logos/assets/font-logos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FS Sevegment";
  src: url(assets/fs_sevengment.otf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/material-symbols-rounded-latin-full-normal.min.woff2) format('woff2'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Plus imports for other components in your app.
@import "custom-palette";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$formosa-primary: mat.m2-define-palette($primary-map);
$formosa-accent: mat.m2-define-palette($accent-map);

// The warn palette is optional (defaults to red).
$formosa-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$formosa-theme: mat.m2-define-dark-theme((color: (primary: $formosa-primary,
        accent: $formosa-accent,
        warn: $formosa-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($formosa-theme);

html {
  --mat-toolbar-title-text-font: Roboto, sans-serif;
  --mat-toolbar-title-text-line-height: 32px;
  --mat-toolbar-title-text-size: 20px;
  --mat-toolbar-title-text-tracking: 0.0125em;
  --mat-toolbar-title-text-weight: 500;
}

.list-item-active {
  background: mat.get-theme-color($formosa-theme,
      primary,
      default,
      0.5) !important;
}

.mat-button-toggle-checked {
  background-color: mat.get-theme-color($formosa-theme, primary) !important;
  color: mat.get-theme-color($formosa-theme, primary, default-contrast) !important;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  @apply h-full;
}

body {
  @apply font-body m-0;
}

kbd {
  @apply border border-solid border-gray-200 px-1 rounded text-gray-200;

  &.small {
    @apply text-xs;
  }
}

mat-sidenav[data-style-dense] {
  @include mat.toolbar-density(-3);
  @include mat.list-density(-3);
  @include mat.input-density(-3);
  @include mat.form-field-density(-3);
  @include mat.button-density(-1);
}

.small-icon-button-wrapper {
  @include mat.icon-button-density(-3);
}

.mat-mdc-icon-button {
  @apply leading-none;
}

span.first-cap {
  display: inline-block;
}

.first-cap:first-letter {
  text-transform: uppercase;
}
