<section class="flex h-12 flex-none items-center bg-gray-700 px-5">
  {{ "chord-page.chord-practice-setting.title" | translate | realTitleCase }}
</section>
<ol class="flex-1 list-inside list-decimal overflow-auto p-5">
  <li>
    {{
      "chord-page.chord-practice-setting.import-chord-list-file-step.0"
        | translate
    }}
    <a
      class="underline"
      href="https://charachorder.io/"
      target="_blank"
      rel="noopener"
      >{{
        "chord-page.chord-practice-setting.import-chord-list-file-step.1"
          | translate
      }}
    </a>
    {{
      "chord-page.chord-practice-setting.import-chord-list-file-step.2"
        | translate
    }}
    <br />
    <button
      class="my-2"
      type="button"
      [color]="'primary'"
      mat-flat-button
      (click)="fileInput.click()"
    >
      <mat-icon>{{ "upload" | iconGuard }}</mat-icon>
      {{ "general.choose-file-action" | translate | realTitleCase }}
    </button>
    <input
      hidden
      #fileInput
      type="file"
      accept=".json"
      [attr.aria-label]="
        'chord-page.chord-practice-setting.file-input-aria-label' | translate
      "
      (change)="loadChordFile()"
    />
  </li>
  <li>
    {{ "chord-page.chord-practice-setting.select-chords-step" | translate }}
    <mat-selection-list
      class="!my-2 max-h-56 overflow-auto rounded border"
      (selectionChange)="onChordSelectionChange($event)"
    >
      @for (chord of chords(); track chord.id) {
        <mat-list-option
          [color]="'primary'"
          [value]="chord"
          [togglePosition]="'before'"
          [selected]="selectedChordIds().has(chord.id)"
        >
          <app-chord-input-keys [keys]="chord.inputKeys"></app-chord-input-keys>
          -&gt;
          <app-chord-output-keys
            [keys]="chord.outputKeys"
          ></app-chord-output-keys>
        </mat-list-option>
      }
    </mat-selection-list>
  </li>
  <li>
    {{
      "chord-page.chord-practice-setting.click-start-button-step" | translate
    }}
    <br />
    <button
      class="my-2"
      type="button"
      [color]="'primary'"
      mat-flat-button
      [disabled]="selectedChordIds().size === 0"
      (click)="startPractice.emit()"
    >
      <mat-icon>{{ "play_arrow" | iconGuard }}</mat-icon>
      {{ "general.start-action" | translate | realTitleCase }}
    </button>
  </li>
</ol>
